{% extends "data/base.html" %}

{% block title%}
Pendaftaran Akun
{% endblock title%}

{% block content%}
<h1>Halo, {{ request.user.get_full_name }}</h1>
<a href="{% url 'data:logout' %}">Logout</a>

<br><br>
<a href="{% url 'data:tambah_data' %}">Tambah data</a>
<br><br>

{% for message in messages %}
<p style="color: red;">{{ message }}</p>
{% endfor %}

<br><br>

{% for data in data %}
<div style="padding: 5px 5px 2rem; border: 1px solid #000; width: 450px;">
    <h3 style="margin: 0;">{{ data.title }}</h3>
    <p style="margin: 0;">{{ data.description }}</p>
    {% if data.image %}
        <img src="{{ data.image.url }}" alt="{{ data.title }}" width="420" height="200" /><br>
    {% endif %}
    <a href="{% url 'data:edit_data' data.pk %}">Edit</a>
    <a href="{% url 'data:hapus_data' data.pk %}">Hapus</a>
</div>
{% endfor %}

{% endblock content %}